{{> /layout/header}}

<div class="container p-5">

    <!-- 돌아가기, 수정, 삭제버튼 -->
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <a href="/" class="btn btn-secondary">돌아가기</a>
        </div>
        <div class="d-flex justify-content-end">
            <form action="#" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" class="form-control" value="수정" name="수정">
                <button type="submit" class="btn btn-success">수정</button>
            </form>
            <form action="#" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" class="form-control" value="삭제" name="삭제">
                <button type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>

    <!-- 게시글내용 -->
    <div class="pt-1 d-flex justify-content-start">
        <div class="card form-control">
            <td>글 번호 : 1</td>
            <td>작성자 : ssar</td>
            <div class="card-body">
                <h3 class="card-title">title</h3>
                </hr>
                <p class="card-text">content</p>
            </div>
        </div>
    </div>

    <!-- 댓글내용 -->
    <div class="card form-control">
        <form action="#" method="post" enctype="application/x-www-form-urlencoded">
            <div>
                <textarea class="form-control" rows="1" placeholder="댓글 달기...." id="comment" name="commnet"></textarea>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn"><img width="24" height="24"
                        src="https://img.icons8.com/material/24/filled-sent.png" alt="filled-sent" /></button>
            </div>
        </form>
    </div>

    <!-- 댓글리스트 -->
    <div class="card">
        <div class="card-header">댓글</div>
        <div class="card-padding card-footer d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column justify-content-start">
                <p class="commnet-username mb-0">ssar</p>
                <p class="mb-0">주말만 되면 맛있는 거 먹으러 가던데, 그러면 살쪄요.</p>
            </div>
            <div class="d-flex justify-content-end">
                <form action="#" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" class="form-control" value="삭제" name="삭제">
                    <button type="submit" class="btn"><img width="24" height="24"
                            src="https://img.icons8.com/material/24/waste--v1.png" alt="waste--v1" /></button>
                </form>
            </div>
        </div>
    </div>
</div>
{{> /layout/footer}}